{% import 'common.yml.j2' as common %}

{%- block name -%}
# Template is at:    .github/templates/trunk.yml.j2
# Generation script: .github/scripts/generate_ci_workflows.py
name: periodic
{%- endblock %}

on:
  pull_request:
    types: [opened, synchronize, reopened, unassigned]

  schedule:
    - cron: 45 0,4,8,12,16,20 * * *

concurrency:
  group: ci-periodic-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
{% for job in jobs -%}
    {%- include job.template %}
{% endfor %}
