{% import 'common.yml.j2' as common %}

{%- block name -%}
# Template is at:    .github/templates/linux_ci_workflow.yml.j2
# Generation script: .github/scripts/generate_ci_workflows.py
name: pr_ci
{%- endblock %}

on:
  pull_request:
    types: [opened, synchronize, reopened, !{{ ciflow_config.trigger_action }}]

concurrency:
  group: ci-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
{% for job in linux_jobs -%}
    {%- include 'linux_job.yml.j2' %}
{% endfor %}
{%- for job in windows_jobs -%}
    {%- include 'windows_job.yml.j2' %}
{% endfor %}
