{% import 'common.yml.j2' as common %}

{%- block name -%}
# Template is at:    .github/templates/pull.yml.j2
# Generation script: .github/scripts/generate_ci_workflows.py
name: pull
{%- endblock %}

on:
  pull_request

!{{ common.concurrency("pull") }}

jobs:
{% for job in jobs -%}
    {%- include job.template %}
{% endfor %}
